#ajax_popup.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "ajax_popup_label", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    #ajax_content
= javascript_include_tag :ajax_get_page
